<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SQL_AUTH_NODE :: HOME</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="terminal-window">
  <div class="titlebar">
    <div class="btn red"></div>
    <div class="btn yellow"></div>
    <div class="btn green"></div>
    <span class="title">AUTHENTICATED_SESSION</span>
  </div>

  <div class="content">
    <h1 class="header">ACCESS GRANTED</h1>
    <p class="subtitle">[ ACTIVE_TERMINAL_SESSION ]</p>

    <div class="flag-box">
      <span class="label">&gt; FLAG</span>
      <div class="flag-output">FLAG{SQLI_NODE_BYPASS}</div>
    </div>

    <p class="bottom">SESSION_STATE: STABLE</p>
  </div>
</div>

</body>
</html>
Dexter@CTF:/opt/SQL-Injection/SQL-Injection/views$ cat index.html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="terminal-window">
  <div class="titlebar">
    <div class="btn red"></div>
    <div class="btn yellow"></div>
    <div class="btn green"></div>
  </div>

  <div class="content">
    <h1 class="header">LOGIN</h1>
    <p class="subtitle">[ SECURE_LOGIN_PAGE ]</p>

    <form action="/login" method="POST">

      <label class="label">&gt; USERNAME</label>
      <input class="input" name="username"/>

      <label class="label">&gt; PASSWORD</label>
      <input class="input" type="password" name="password" />

      <button type="submit" class="connect-btn"> LOGIN </button>

    </form>

    <div class="options">
      <label><input type="checkbox" /> REMEMBER ME</label>
    </div>

  </div>
</div>

</body>
</html>























<!-- @dmindex021 -->

